@{
  Layout = "_Layout";
  ViewData["Title"] = "Add Pet";
}

@model PurrBnB.Models.Pet

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h1 id="title">Add a new Pet</h1>
      </div>
      <div class="card-body">
        @using (Html.BeginForm())
        {
          @Html.LabelFor(model => model.Name)
          @Html.TextBoxFor(model => model.Name, new {@required = "required"})
          @Html.LabelFor(model => model.Age)
          @Html.TextBoxFor(model => model.Age, new {@required = "required"})
          @Html.LabelFor(model => model.Color)
          @Html.TextBoxFor(model => model.Color, new {@required = "required"})
          @Html.LabelFor(model => model.Interests)
          @Html.TextBoxFor(model => model.Interests, new {@required = "required"})
          @Html.LabelFor(model => model.FavoriteToys)
          @Html.TextBoxFor(model => model.FavoriteToys, new {@required = "required"})
          @Html.LabelFor(model => model.Schedule)
          @Html.TextBoxFor(model => model.Schedule, new {@required = "required"})
          @Html.LabelFor(model => model.Personality)
          @Html.TextBoxFor(model => model.Personality, new {@required = "required"})
          @Html.LabelFor(model => model.Species)
          @Html.TextBoxFor(model => model.Species, new {@required = "required"})
          <input class="btn btn-outline-primary" type="submit" value="Add new pet"/>
        }
      </div>
    </div>
  </div>
</div>
<button class="btn btn-outline">@Html.ActionLink("List of Pets", "Index")</button>
