@{
  Layout = "_Layout";
  ViewData["Title"] = "Add Dwelling";  
}

@model PurrBnB.Models.Reservation

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h1 id="title">Add a reservation</h1>
        <h4>Add a reservation to this dwelling:</h4>
        <!-- <h2>@Html.DisplayFor(model => model.ReservationName)</h2>
      </div>
      <div class="card-body">
        @using (Html.BeginForm())
        {
          @Html.HiddenFor(model => model.ReservationId)
          @Html.Label("Select Dwelling")
          @Html.DropDownList("DwellingId")
          <input id="button" class="btn btn-outline-dark" type="submit" value="Save"/>
        } -->
        <button class="btn btn-outline-dark">@Html.ActionLink("Back to list of dwellings", "Index")</button>
      </div>
    </div>
  </div>
</div>  