@{
  Layout = "_Layout";
  ViewData["Title"] = "Create Reservation";
}

@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model PurrBnB.Models.Reservation

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h1 id="title">Enter New Reservation</h1>
      </div>
      <div class="card-body">
        @using (Html.BeginForm())
        {
          <div class="row">
            <div class="col-md-3">
              @Html.LabelFor(model => model.ReservationName, new {@class = "form-label"})
              @Html.TextBoxFor(model => model.ReservationName, new {@class = "form-control"})
            </div>
            <div class="col-md-3">
              @Html.LabelFor(model => model.TotalNights, new {@class = "form-label"})
              @Html.TextBoxFor(model => model.TotalNights, new {@class = "form-control"})
            </div>
            <div class="col-md-3">
              @Html.Label("Add Dwelling")
              @Html.DropDownList("DwellingId")
            </div>
            <div class="row">
              <input class="btn btn-primary" type="submit" value="Save" />
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>
