@{
  Layout = "_Layout";
  ViewData["Title"] = "Create Reservation";
}

@model PurrBnB.Models.Reservation
<h2 class="text-center">Enter New Reservation</h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.ReservationName)
  @Html.TextBoxFor(model => model.ReservationName)
  
  @Html.LabelFor(model => model.TotalCost)
  @Html.TextBoxFor(model => model.TotalCost)

  @Html.Label("Add Dwelling")
  @Html.DropDownList("DwellingId", "Select Dwelling")

  <input type="submit" value="Save" />
}
