@{
  Layout = "_Layout";
  ViewData["Title"] = "Edit Reservation";
}

@using Microsoft.AspNetCore.Mvc.Rendering
@model PurrBnB.Models.Reservation

<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Edit Pet</h1>
    <div class="card">
      <div class="card-header">
        <h2>Edit this reservation: @Html.DisplayFor(model => model.ReservationName)</h2>
      </div>
      <div class="card-body">
        <div class="row">
        <div class="col-12">
          @using (Html.BeginForm())
          {
              @Html.HiddenFor(model => model.ReservationId)
              @Html.LabelFor(model => model.ReservationName, new {@class = "form-label"})
              @Html.TextBoxFor(model => model.ReservationName, new {@class = "form-control"})
              <br>
              @Html.LabelFor(model => model.TotalNights, new {@class = "form-label"})
              @Html.TextBoxFor(model => model.TotalNights, new {@class = "form-control"})
              <br>
              <input class="btn btn-primary" type="submit" value="Save" />
          }
        </div>
        </div>
      </div>
    </div>
  </div>
</div>