@{
  Layout = "_Layout";
}

@model PurrBnB.Models.Dwelling
<div class="container">
  <br>
  <br>
  <div class="col-md-12">
    <div class=row>
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      <div id="card" class="card border-dark mb-3" style="position: center; width: 100%; height: 50%">
            <div class="card-header">
              <center>
              <h1 id="title">List a new dwelling</h1>
              </center>
            </div>
            &nbsp;  
            @using (Html.BeginForm())
            {
              <center>
                @Html.LabelFor(model => model.DwellingName)
                <span> &nbsp; </span>
                @Html.TextBoxFor(model => model.DwellingName, new { @required  = "required"})
                <span> &nbsp; </span>
                <span> &nbsp; </span>
                @Html.LabelFor(model => model.DwellingOwnerName)
                <span> &nbsp; </span>
                @Html.TextBoxFor(model => model.DwellingOwnerName, new { @required  = "required"})
                <span> &nbsp; </span>
                <span> &nbsp; </span>
                @Html.LabelFor(model => model.DwellingType)
                <span> &nbsp; </span>
                @Html.TextBoxFor(model => model.DwellingType, new { @required  = "required"})
                <span> &nbsp; </span>
                <span> &nbsp; </span>
                @Html.LabelFor(model => model.GroundLevelAccess)
                @Html.CheckBoxFor(model => model.GroundLevelAccess, new { @required  = "required"})
                <span> &nbsp; </span>
                <span> &nbsp; </span>
                @Html.LabelFor(model => model.Kitchen)
                @Html.CheckBoxFor(model => model.Kitchen, new {@checked = "checked"})
                <span> &nbsp; </span>
                @Html.LabelFor(model => model.NumberOfPeopleAllowed)
                <span> &nbsp; </span>
                @Html.TextBoxFor(model => model.NumberOfPeopleAllowed, new { @required  = "required"})
                <span> &nbsp; </span>
                <span> &nbsp; </span> 
                @Html.LabelFor(model => model.Bedrooms)
                <span> &nbsp; </span>
                @Html.TextBoxFor(model => model.Bedrooms, new { @required  = "required"})
                <span> &nbsp; </span>
                <span> &nbsp; </span> 
                @Html.LabelFor(model => model.Bathrooms)
                <span> &nbsp; </span>
                @Html.TextBoxFor(model => model.Bathrooms, new { @required  = "required"})
                <span> &nbsp; </span>
                <span> &nbsp; </span> 
                @Html.LabelFor(model => model.Accomodations)
                <span> &nbsp; </span>
                @Html.TextBoxFor(model => model.Accomodations, new { @required  = "required"})
                <span> &nbsp; </span>
                @Html.LabelFor(model => model.PrivateAccess)
                @Html.CheckBoxFor(model => model.PrivateAccess, new {@checked = "checked"})
                <span> &nbsp; </span>                
@*                @Html.Label("Select pet") *@
                <span> &nbsp; </span>
  @*              @Html.DropDownList("PetId") *@
                </center>
                <span> &nbsp; </span>
                <span> &nbsp; </span>
                <center><input id="button" class="btn btn-outline-dark my-sm-0" type="submit" value="Add new dwelling" class="btn btn-default" /></center>

            }
            &nbsp;
            <center><button id="button" type="button" class="btn btn-outline-dark my-sm-0" style="max-height: 5rem; max-width: 15rem;">@Html.ActionLink("List of Dwellings", "Index")</button></center>
            &nbsp;
            &nbsp;
      </div>
    </div>
  </div>
</div>