@{
  Layout = "_Layout";
  ViewData["Title"] = "Edit Dwelling";
}

@model PurrBnB.Models.Dwelling

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3>Edit the details for @Html.DisplayFor(model => model.DwellingType)</h3>
      </div>
      <div class="card-body">
        @using (Html.BeginForm())
        {
          @Html.HiddenFor(model => model.DwellingId)
          @Html.LabelFor(model => model.DwellingName, new {@class = "form-label"})
          @Html.TextBoxFor(model => model.DwellingName, new {@required = "required", @class = "form-control"})
          @Html.LabelFor(model => model.DwellingOwnerName, new {@class = "form-label"})
          @Html.TextBoxFor(model => model.DwellingOwnerName, new {@required = "required", @class = "form-control"})
          @Html.LabelFor(model => model.DwellingType, new {@class = "form-label"})
          @Html.TextBoxFor(model => model.DwellingType, new {@required = "required", @class = "form-control"})
          @Html.LabelFor(model => model.DwellingStreetAddress, new {@class = "form-label"})
          @Html.TextBoxFor(model => model.DwellingStreetAddress, new {@required = "required", @class = "form-control"})
          @Html.LabelFor(model => model.DwellingCity, new {@class = "form-label"})
          @Html.TextBoxFor(model => model.DwellingCity, new {@required = "required", @class = "form-control"})
          @Html.LabelFor(model => model.DwellingState, new {@class = "form-label"})
          @Html.TextBoxFor(model => model.DwellingState, new {@required = "required", @class = "form-control"})
          @Html.LabelFor(model => model.DwellingZip, new {@class = "form-label"})
          @Html.TextBoxFor(model => model.DwellingZip, new {@required = "required", @class = "form-control"})
          @Html.LabelFor(model => model.GroundLevelAccess, new {@class = "form-label"})
          @Html.CheckBoxFor(model => model.GroundLevelAccess, new {@class = "form-control"})
          @Html.LabelFor(model => model.Kitchen, new {@class = "form-label"})
          @Html.CheckBoxFor(model => model.Kitchen, new {@class = "form-control"})
          @Html.LabelFor(model => model.NumberOfPeopleAllowed, new {@class = "form-label"})
          @Html.TextBoxFor(model => model.NumberOfPeopleAllowed, new {@required = "required", @class = "form-control"})
          @Html.LabelFor(model => model.Bedrooms, new {@class = "form-label"})
          @Html.TextBoxFor(model => model.Bedrooms, new {@required = "required", @class = "form-control"})
          @Html.LabelFor(model => model.Bathrooms, new {@class = "form-label"})
          @Html.TextBoxFor(model => model.Bathrooms, new {@required = "required", @class = "form-control"})
          @Html.LabelFor(model => model.PrivateAccess, new {@class = "form-label"})
          @Html.CheckBoxFor(model => model.PrivateAccess, new {@class = "form-control"})
          @Html.LabelFor(model => model.Accomodations, new {@class = "form-label"})
          @Html.TextBoxFor(model => model.Accomodations, new {@required = "required", @class = "form-control"})
          @Html.LabelFor(model => model.CostPerNight, new {@class = "form-label"})
          @Html.TextBoxFor(model => model.CostPerNight, new {@format = "{0:C0}", @class = "form-control"})
          @Html.Label("Select pet")
          @Html.DropDownList("PetId")
          <input id="button" class="btn btn-outline" type="submit" value="Save" />
        }
      </div>
      <button class="btn btn-outline">@Html.ActionLink("Back to list", "Index")</button>
    </div>
  </div>
