@{
  Layout = "_Layout";
  ViewData["Title"] = "Edit Dwelling";
}

@model PurrBnB.Models.Dwelling
<div class="container">
  <br>
  <br>
  <div class="col-md-12">
    <div class=row>
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      <div id="card" class="card border-dark mb-3" style="position: center; width: 100%; height: 50%">
        <div class="card-header">
          <center>
          <h1 id="title">Edit</h1>
          </center>
        </div>
        &nbsp;
        <center><h4>Edit this listed dwelling: @Html.DisplayFor(model => model.DwellingType)</h4></center>
        &nbsp;  
        @using (Html.BeginForm())
        {
          <center>
          @Html.HiddenFor(model => model.DwellingId)

          @Html.LabelFor(model => model.DwellingName)
          <span> &nbsp; </span>
          @Html.TextBoxFor(model => model.DwellingName, new { @required  = "required"})
          <span> &nbsp; </span>
          <span> &nbsp; </span>
          @Html.LabelFor(model => model.DwellingOwnerName)
          <span> &nbsp; </span>
          @Html.TextBoxFor(model => model.DwellingOwnerName, new { @required  = "required"})
          <span> &nbsp; </span>
          <span> &nbsp; </span>
          @Html.LabelFor(model => model.DwellingType)
          <span> &nbsp; </span>
          @Html.TextBoxFor(model => model.DwellingType, new { @required  = "required"})
          <span> &nbsp; </span>
          <span> &nbsp; </span>
          @Html.LabelFor(model => model.DwellingType)
          <span> &nbsp; </span>
          @Html.TextBoxFor(model => model.DwellingType, new { @required  = "required"})
          <span> &nbsp; </span>
          <span> &nbsp; </span>
          @Html.LabelFor(model => model.GroundLevelAccess)
          <span> &nbsp; </span>
          @Html.CheckBoxFor(model => model.GroundLevelAccess, new { @required  = "required"})
          <span> &nbsp; </span>
          <span> &nbsp; </span>
          @Html.LabelFor(model => model.Kitchen)
          <span> &nbsp; </span>
          @Html.CheckBoxFor(model => model.Kitchen, new { @required  = "required"})
          <span> &nbsp; </span>
          <span> &nbsp; </span>
          @Html.LabelFor(model => model.NumberOfPeopleAllowed)
          <span> &nbsp; </span>
          @Html.TextBoxFor(model => model.NumberOfPeopleAllowed, new { @required  = "required"})
          <span> &nbsp; </span>
          <span> &nbsp; </span> 
          @Html.LabelFor(model => model.Bedrooms)
          <span> &nbsp; </span>
          @Html.TextBoxFor(model => model.Bedrooms, new { @required  = "required"})
          <span> &nbsp; </span>
          <span> &nbsp; </span> 
          @Html.LabelFor(model => model.Bathrooms)
          <span> &nbsp; </span>
          @Html.TextBoxFor(model => model.Bathrooms, new { @required  = "required"})
          <span> &nbsp; </span>
          <span> &nbsp; </span> 
          @Html.LabelFor(model => model.PrivateAccess)
          <span> &nbsp; </span>
          @Html.CheckBoxFor(model => model.PrivateAccess, new { @required  = "required"})
          <span> &nbsp; </span>
          <span> &nbsp; </span> 
          @Html.LabelFor(model => model.Accomodations)
          <span> &nbsp; </span>
          @Html.TextBoxFor(model => model.Accomodations, new { @required  = "required"})
          <span> &nbsp; </span>
          <span> &nbsp; </span>  
          @* <!-- @Html.LabelFor(model => model.StartDate)
          <span> &nbsp; </span>
          @Html.TextBoxFor(model => model.StartDate, new { @type = "date"})
          <span> &nbsp; </span>
          @Html.LabelFor(model => model.EndDate)
          <span> &nbsp; </span>
          @Html.TextBoxFor(model => model.EndDate, new { @type = "date"}) --> *@
          <span> &nbsp; </span>      
          @Html.LabelFor(model => model.CostPerNight)
          <span> &nbsp; </span>
          @Html.TextBoxFor(model => model.CostPerNight, new { @format  = "{0:C0}"})                 
          @Html.Label("Select pet")
          <span> &nbsp; </span>
          @Html.DropDownList("PetId")
          <span> &nbsp; </span>
          <span> &nbsp; </span>
          <input id="button" class="btn btn-outline my-sm-0" type="submit" value="Save" />
          </center>
        }
        &nbsp;
        <center><button id="button" type="button" class="btn btn-outline my-sm-0" style="max-height: 5rem; max-width: 15rem;">@Html.ActionLink("Back to list", "Index")</button></center>
        &nbsp;
        &nbsp;
      </div>
    </div>
  </div>
</div>