@{
  ViewData["Title"] = "Dwellings";
  Layout = "_Layout";
}

@using PurrBnB.Models;
@model IEnumerable<PurrBnB.Models.Dwelling>

<div class="row">
  <div class="col-md-12">

<partial name="_MapsPartial"/>  

    <div id="card" class="card border-dark">
      <div class="card-header">
        <h1 class="text-center">List of Available Dwellings</h1>
        @* <div class="card" style="width:400px">
        <img class="card-img-top" src="/img/aframe_01.jpg" alt="Card image"> *@
        @* <div class="card-body">
          <h4 class="card-title">Gallery</h4>
          <p class="card-text">Some example text.</p>
        </div> *@
      </div>
      &nbsp;
        <div class="row">
          <div class="col-md-12 text-center">
            <button class="btn btn-outline-dark">@Html.ActionLink("List new dwelling", "Create")</button>
          </div>
        </div>          
          &nbsp;
        <div class="flex-container">
        
      
          @if (Model.Any())
          {

            @foreach (Dwelling dwelling in Model)
            {
              <div class="col-md-5">
                <div id="card" class="card border-primary">
                  <div class="card-header">
                    <img class="card-img-top" src="/img/home_logo.png" alt="Card image">
                    <div class="display-field">
                      @* <img class="img-thumbnail" src="@dwelling.ImagePath" asp-append-version="true" alt="@dwelling.ImagePath" /> *@
                      @* <img src="@Url.Content(@Model.DwellingImage)" alt="@Model.AlternateText" /> *@
                    </div>
                    <div>
                      @* <center> *@
                        <h2>@Html.ActionLink($"{dwelling.DwellingName}", "Details", new { id = dwelling.DwellingId})</h2>
                      @* </center> *@
                    </div>
                    <div class="card-body text-primary">

                      <h5>@Html.DisplayFor(model => dwelling.DwellingCity), @Html.DisplayFor(model =>
                    dwelling.DwellingState)</h5>
                      <h6>$@Html.DisplayFor(model => dwelling.CostPerNight) daily rate</h6>
                      <h6>Owned by: @Html.DisplayFor(model => dwelling.DwellingOwnerName)</h6>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                      <div class="card-footer">
                        <center><h6>@Html.ActionLink("Edit Dwelling", "Edit", new {id =
                      dwelling.DwellingId, @class = "btn btn-outline-dark"}) &nbsp;
                        @Html.ActionLink("Delete Dwelling", "Delete", new {id =
                      dwelling.DwellingId, @class = "btn btn-outline-dark"})</h6></center>
                      </div>
                    }
                  </div>
                </div>
              </div>
            }
          }
          else
          {
            <h3 class="text-center">No dwellings have been listed yet!</h3>
          }
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
